<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>






<center>
    <h1>Address Details</h1> <br><br><br>
<form action="/addressDetails" method="post">



userId:<input type="text" name="userId" value="<%= userIds[0] %>" readonly > <br>
productId<input type="text" name="productId" value="<%= productIds[0] %>" readonly > <br>
<input type="text" id="firstName" name="firstName" placeholder="First Name" required> <br>
<input type="text" id="lastName"  name="lastName" placeholder="Last Name" required> <br>
<input type="text" id="middleName" name="middleName" placeholder="Middle Name" > <br>
<input type="text" id="company" name="company" placeholder="Company" required> <br>
<input type="email" id="email" name="email" placeholder="Email" required> <br>
<input type="text" id="phone" name="phone" placeholder="Phone" required> <br>
<input type="text" id="country" name="country" placeholder="Country" required> <br>
<input type="text" id="city" name="city" placeholder="City" required> <br>
<input type="text" id="state" name="state" placeholder="State/Provinence" required> <br>
<input type="text" id="postalCode" name="postalCode" placeholder="Zip/Postal Code" required> <br>
<textarea name="address" id="address"  cols="30" rows="10" placeholder="address" required></textarea> <br>

<button type="submit" class="btn btn-success">confirm</button>
</form>
<div id="prevAddress" >

<h2>preveious shipping details</h2>
    <% addressData.forEach(function(data){%>
     
            
           
        <div class="card">
            <h3>city</h3>
            <%= data.city%>
            <h3>state</h3>
            <%= data.state%>
            <h3>country</h3>          
            <%= data.country%>
            <h3>address:</h3>
            <%= data.address%>
        <script>console.log( data)</script>
            <button  
            class="btn btn-success"
             onclick='addAddress("<%= data._id%>","<%= data.firstName%>","<%= data.lastName%>","<%= data.middleName%>","<%= data.company%>","<%= data.email%>","<%= data.phone%>","<%= data.country%>","<%= data.city%>","<%= data.state%>","<%= data.postalCode%>","<%= data.address%>")' 
              name="<%= data._id %>">
              add
            </button>
        </div>


    <%})      %>
</div>
<script>
    function addAddress(Id,firstName,lastName,middleName,company,email,phone,country,city,state,postalCode,address){
        alert(country);
        document.getElementById("firstName").setAttribute('value',firstName);
       document.getElementById("lastName").setAttribute('value',lastName);
        document.getElementById("middleName").setAttribute('value',middleName);
        document.getElementById("company").setAttribute('value',company);
        document.getElementById("email").setAttribute('value',email);
        document.getElementById("phone").setAttribute('value',phone);
        document.getElementById("country").setAttribute('value',country);
        document.getElementById("city").setAttribute('value',city);
        document.getElementById("state").setAttribute('value',state);
        document.getElementById("postalCode").setAttribute('value',postalCode);
        document.getElementById("address").innerHTML=address;
        document.getElementById("prevAddress").setAttribute('style','visibility: hidden');
       
    }
</script>
</center>
</body>